# Collect Data for Test 1
- YFinance Data
- Weekdays (int)
- Month (int)
- Trend (int)
- Buy or Sell

In [ ]:
import pandas as pd
from datetime import datetime
from data_collector import get_finance_data, determine_trend

## Training Data

In [ ]:
df = get_finance_data(symbols="DAX", interval="1d",start=datetime(2015, 1, 1), end=datetime(2022, 12, 31))

df['trend'] = df.apply(determine_trend, axis=1)

# Initialize the 'Invest' column
df['Invest'] = 0

for index, row in df.iterrows():
    if index > 0: 
        if df.at[index, "trend"] == 1:
            df.at[index-1, "Invest"] = True
        else:
            df.at[index-1, "Invest"] = False
            
df["month"] = df["month"].astype(int)
df["Invest"] = df["Invest"].astype(bool)
df.to_pickle("../Data/train_dax_data.pkl")
display(df)

[*********************100%***********************]  1 of 1 completed

,Date,Open,High,Low,Close,Adj Close,Volume,month,weekday,trend,Invest
0,2015-01-02,26.163000,26.163000,26.163000,26.163000,20.757574,0,1,4,1,False
1,2015-01-05,25.850000,25.850000,24.879999,24.879999,19.739653,2700,1,0,-1,True
2,2015-01-06,24.879999,24.879999,24.879999,24.879999,19.739653,0,1,1,1,True
3,2015-01-07,24.879999,24.879999,24.879999,24.879999,19.739653,100,1,2,1,True
4,2015-01-08,25.440001,25.580000,25.440001,25.580000,20.295027,1200,1,3,1,True
...,...,...,...,...,...,...,...,...,...,...,...
2009,2022-12-23,25.650000,25.700001,25.600000,25.600000,24.340061,1400,12,4,-1,False
2010,2022-12-27,25.799999,25.950001,25.770000,25.770000,24.501694,8800,12,1,-1,False
2011,2022-12-28,25.830000,25.830000,25.490000,25.490000,24.235474,18200,12,2,-1,True
2012,2022-12-29,25.850000,26.150000,25.799999,26.150000,24.971735,13500,12,3,1,False
2013,2022-12-30,25.750000,25.770000,25.538000,25.600000,24.446518,30200,12,4,-1,False

## Test Data

In [ ]:
df = get_finance_data(symbols="DAX", interval="1d", start=datetime(2023, 1, 1), end=datetime(2023, 12, 31))

df['trend'] = df.apply(determine_trend, axis=1)

# Initialize the 'Invest' column
df['Invest'] = 0

for index, row in df.iterrows():
    if index > 0: 
        if df.at[index, "trend"] == 1:
            df.at[index-1, "Invest"] = True
        else:
            df.at[index-1, "Invest"] = False

df["month"] = df["month"].astype(int)
df["Invest"] = df["Invest"].astype(bool)
df.to_pickle("../Data/test_dax_data.pkl")
display(df)

[*********************100%***********************]  1 of 1 completed

,Date,Open,High,Low,Close,Adj Close,Volume,month,weekday,trend,Invest
0,2023-01-03,25.959999,26.100000,25.820000,25.820000,24.656605,30100,1,1,-1,True
1,2023-01-04,26.459999,26.635000,26.379999,26.629999,25.430107,19200,1,2,1,False
2,2023-01-05,26.330000,26.389999,26.260000,26.299999,25.114977,38700,1,3,-1,True
3,2023-01-06,26.299999,27.000000,26.299999,26.969999,25.754787,16700,1,4,1,True
4,2023-01-09,27.340000,27.559999,27.280001,27.360001,26.127216,21900,1,0,1,True
...,...,...,...,...,...,...,...,...,...,...,...
245,2023-12-22,30.900000,30.900000,30.770000,30.809999,30.072826,3100,12,4,-1,True
246,2023-12-26,30.809999,31.120001,30.809999,31.030001,30.287565,10900,12,1,1,True
247,2023-12-27,31.080000,31.219999,31.070000,31.200001,30.453495,23400,12,2,1,False
248,2023-12-28,30.959999,31.070000,30.820000,30.820000,30.191936,17000,12,3,-1,False
249,2023-12-29,31.000000,31.000000,30.816999,30.850000,30.221327,5000,12,4,-1,False